@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url("/fonts/Lausanne-300.woff2");
}

@font-face {
    font-family: font2;
    src: url("/fonts/Lausanne-500.woff2");
}

body {
    overflow-x: hidden;
}

.moveX {
    animation: moveAnimation 10s linear infinite;
}

@keyframes moveAnimation {
    form {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}